<div class="modal-bg" style="display: block;"></div>
<div class="modal-block" style="display: block;">
  <div class="modal-block-content main">
    <img src="/assets/images/main-heading.png" alt="Фотокабина" height="212" width="705" class="main-logo-modal">
    <h3 class="heading-64">Просто, весело и интерактивно</h3>
    <p class="text-48">Мы помогаем сохранить в памяти самые важные моменты о значимых событиях.</p>
    <p class="text-48">Попробуйте сами и расскажите друзьям!</p>
    <table cellpadding="0" cellspacing="1" border="0">
      <tr>
        <td><img src="" alt="" width="215" height="215"></td>
        <td>
          <h3 class="heading-64">Сделайте фото</h3>
          <p class="text-48">Просто коснитесь экрана. <br>Всё остальное фотокабина сделает сама.</p>
        </td>
      </tr>
      <tr>
        <td><img src="" alt="" width="215" height="215"></td>
        <td>
          <h3 class="heading-64">Распечатайте</h3>
          <p class="text-48">Выберите фото для печати – через 15 секунд снимки будут уже у вас в руках.</p>
        </td>
      </tr>
      <tr>
        <td><img src="" alt="" width="215" height="215"></td>
        <td>
          <h3 class="heading-64">Делитесь позитивом</h3>
          <p class="text-48">Готово! Теперь это ваши фото. Сохраните снимки себе или поделитесь ими с друзьями.</p>
        </td>
      </tr>
    </table>
    <table class="footer-qr">
      <tr>
        <td><div class="qr"><img src="/assets/images/qr.png" alt=""></div></td>
        <td><p class="text-48">Хотите заказать фотокабину на свой праздник или событие? Вы агентство и вам интересно предложить своим клиентам что-то новое?</p><p>Узнайте больше на сайте <underline>www.fotokabina.by</underline></p></td>
      </tr>
    </table>
  </div>
  <div class="modal-block-content carrot">
    <h1>Лето & Морковка</h1>
    <p class="text-48"><b>Магазин подарков Carrot.by</b> дарит своим друзьям отличные воспоминания о лете и <b>15% скидку на любые товары!</b></p>
    <p class="text-48"><b>Сделайте фото на память</b> и получите скидку* при покупке на сайте <underline>carrot.by</underline>.</p>
    <img src="" alt="" width="788" height="478">
    <h3 class="heading-64">Понравились наши морковки?</h3>
    <p class="text-48">Опубликуйте снимок из фотокабины в <b>Instagram</b> с хэш-тегом <b>#ilovefsp_carrot</b> и мы подарим* одно из этих фирменных мягких кресел автору фото выбранному случайным образом.</p>
    <table class="footer-qr">
      <tr>
        <td><div class="qr"><img src="/assets/images/qr.png" alt=""></div></td>
        <td>
          <p>
          * Полные условия конкурса, а так же сроки и условия предоставления скидки смотри на сайте <underline>www.carrot.by</underline>
          </p>
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-block-content cancel">
    <img src="/assets/images/main-heading.png" alt="Фотокабина" height="212" width="705" class="main-logo-modal">
    <p class="text-48">О, нет, только не это!..</p>
    <img src="/assets/images/cancel-trash.png" alt="" width="861" height="834" class="main-logo-modal">
    <p class="text-48 text-left">Хотите вернуться в начало и сделать новые фото? Вы сделали {{shootedPhotos}} замечательных фотографий. Вы действительно хотите их удалить?</p>
    <div class="buttons">
      <a class="begin button-step-1" ng-click="goToPrevSection(); modal()">В начало</a>
      <a class="js-close close button-step-1" ng-click="modal()">Отмена</a>
    </div>
  </div>
</div>
