<div ng-click="startWork()">
  <div class="middle logo">
    <img src="/assets/images/main-heading.png" alt="Фотокабина" height="212" width="705">
    <!-- <img src="/assets/images/fsp-logo.png" alt="" class="fsp-logo"> -->
  </div>
  <div class="actions">
    <div class="warning-text">
      <i>сейчас вылетит.. панда! :)</i>
    </div>
    <div class="start-area">
      <a href="#"></a>
    </div>
    <div class="footer">
      <ul>
        <li><img src="/assets/images/footer-logo-carrot.png"></li>
        <li><img src="/assets/images/footer-logo-fsp.png"></li>
      </ul>
    </div>
  </div>
</div>
