<div class="photo-preview">
  <div class="mask"></div>
</div>
<div class="photo-action-controls">
  <ul>
    <li><a class="is-active js-open-layout" data-type="cancel" ng-click="modal()"><</a></li>
    <li>
      <a ng-click="shoot($event)">
        <div class="shoot-act-bg">
          <div class="shoot-act"><span class="n-1 number">3</span><span class="n-2 number">2</span><span class="n-3 number">1</span></div>
        </div>
      </a>
    </li>
    <li><a ng-click="goToNextSection($event)" ng-class="{ active : pickedPhotos == 1 }" class="next-step">></a></li>
  </ul>
</div>
<div class="layout-attention">
  <h1>Сейчас</h1>
  <img src="/assets/images/photo-done.png" alt="">
  <h1>Вылетит..</h1>
  <h2>ПАНДА</h2>
</div>
