.back-layout-panda {
  transform:rotate(-10deg);
/*  -webkit-animation: bg-scrolling-reverse 19s infinite;
  -moz-animation:    bg-scrolling-reverse 19s infinite;
  -o-animation:      bg-scrolling-reverse 19s infinite;
  animation:         bg-scrolling-reverse 19s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;*/
}

@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: 110% 0%; }
}
@-moz-keyframes    bg-scrolling-reverse {
  100% { background-position: 110% 0%; }
}
@-o-keyframes      bg-scrolling-reverse {
  100% { background-position: 110% 0%; }
}
@keyframes         bg-scrolling-reverse {
  100% { background-position: 110% 0%; }
}

/*________________________________________*/

.warning-text {
  -webkit-animation: trashing 1s infinite;
  -moz-animation: trashing 1s infinite;
  -o-animation: trashing 1s infinite;
  animation: trashing 1s infinite;
  -webkit-animation-timing-function: cubic-bezier(1,0,1,1);
  -moz-animation-timing-function: cubic-bezier(1,0,1,1);
  -o-animation-timing-function: cubic-bezier(1,0,1,1);
  animation-timing-function: cubic-bezier(1,0,1,1);
}

@-webkit-keyframes trashing {
  50% { transform: translateY(15px) rotateZ(1deg); }
  100% { transform: translateY(0px) rotateZ(0deg); }
}
@-moz-keyframes trashing {
  50% { transform: translateY(15px) rotateZ(1deg); }
  100% { transform: translateY(0px) rotateZ(0deg); }
}
@-o-keyframes trashing {
  50% { transform: translateY(15px); }
  100% { transform: translateY(0px); }
}
@keyframes trashing {
  50% { transform: translateY(15px) rotateZ(1deg); }
  100% { transform: translateY(0px) rotateZ(0deg); }
}

/*________________________________________*/

.start-area a {
  -webkit-animation: round 1s infinite;
  -moz-animation: round 1s infinite;
  -o-animation: round 1s infinite;
  animation: round 1s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes round {
  25% { transform: translate(20%,20%); opacity: .8;}
  50% { transform: translate(0, 40%); opacity: 1; }
  75% { transform: translate(-20%,20%); opacity: .8; }
  100% { transform: translate(0,0); opacity: 1;}
}

@-moz-keyframes round {
  25% { transform: translate(20%,20%); opacity: .8;}
  50% { transform: translate(0, 40%); opacity: 1; }
  75% { transform: translate(-20%,20%); opacity: .8; }
  100% { transform: translate(0,0); opacity: 1;}
}

/*________________________________________*/

.shoot-act-bg:after {
  -webkit-animation: scale 1s infinite;
  -moz-animation: scale 1s infinite;
  -o-animation: scale 1s infinite;
  animation: scale 1s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes scale {
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

@-moz-keyframes scale {
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

/*________________________________________*/

.l-1 {
  -webkit-animation: opacity 1s infinite;
  -moz-animation: opacity 1s infinite;
  -o-animation: opacity 1s infinite;
  animation: opacity 1s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
.l-2 {
  -webkit-animation: opacity 1s infinite;
  -moz-animation: opacity 1s infinite;
  -o-animation: opacity 1s infinite;
  animation: opacity 1s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;
}
.l-3 {
  -webkit-animation: opacity 1s infinite;
  -moz-animation: opacity 1s infinite;
  -o-animation: opacity 1s infinite;
  animation: opacity 1s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  animation-delay: .6s;
}
@-webkit-keyframes opacity {
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes opacity {
  50% { opacity: 1; }
  100% { opacity: 0; }
}


/*________________________________________*/


.is-animated .n-1 {
  -webkit-animation: number 1s 1;
  -moz-animation: number 1s 1;
  -o-animation: number 1s 1;
  animation: number 1s 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
.is-animated .n-1:before {
  -webkit-animation: scaleNumber .8s infinite;
  -moz-animation: scaleNumber .8s infinite;
  -o-animation: scaleNumber .8s infinite;
  animation: scaleNumber .8s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  animation-delay: .2s;
}
.is-animated .n-2 {
  -webkit-animation: number 1s 1;
  -moz-animation: number 1s 1;
  -o-animation: number 1s 1;
  animation: number 1s 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.is-animated .n-2:before {
  -webkit-animation: scaleNumber .8s infinite;
  -moz-animation: scaleNumber .8s infinite;
  -o-animation: scaleNumber .8s infinite;
  animation: scaleNumber .8s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  animation-delay: .2s;
}
.is-animated .n-3 {
  -webkit-animation: number 1s 1;
  -moz-animation: number 1s 1;
  -o-animation: number 1s 1;
  animation: number 1s 1;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}
.is-animated .n-3:before {
  -webkit-animation: scaleNumber .8s infinite;
  -moz-animation: scaleNumber .8s infinite;
  -o-animation: scaleNumber .8s infinite;
  animation: scaleNumber .8s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  animation-delay: .2s;
}
@-webkit-keyframes number {
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes number {
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes scaleNumber {
  50% { transform: scale(1.2); }
  75% { transform: scale(1.5); }
  100% { transform: scale(2); opacity: 0; }
}

@-moz-keyframes scaleNumber {
  50% { transform: scale(1.2); }
  75% { transform: scale(1.5); }
  100% { transform: scale(2); opacity: 0; }
}


.photo-preview.is-animated:after {
  -webkit-animation: scaleDone 1s 1;
  -moz-animation: scaleDone 1s 1;
  -o-animation: scaleDone 1s 1;
  animation: scaleDone 1s 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}
@-webkit-keyframes scaleDone {
  0% { opacity: 1; visibility: visible;}
  50% { transform: scale(1.2); }
  75% { transform: scale(1.5); }
  100% { transform: scale(2); opacity: 0; }
}

@-moz-keyframes scaleDone {
  0% { opacity: 1; visibility: visible;}
  50% { transform: scale(1.2); }
  75% { transform: scale(1.5); }
  100% { transform: scale(2); opacity: 0; }
}
.print-animation {
  -webkit-animation: printAnimation .9s steps(2) infinite;
  -moz-animation: printAnimation .9s steps(2) infinite;
  -o-animation: printAnimation .9s steps(2) infinite;
  animation: printAnimation .9s steps(2) infinite;
}

@-webkit-keyframes printAnimation {
  100% { background-position: -1764px 0px; }
}

@-moz-keyframes printAnimation {
  100% { background-position: -1764px 0px; }
}


.panda-animation:after {
  -webkit-animation: pandaAnimation .8s steps(3) infinite;
  -moz-animation: pandaAnimation .8s steps(5) infinite;
  -o-animation: pandaAnimation .8s steps(5) infinite;
  animation: pandaAnimation .8s steps(5) infinite;
}

@-webkit-keyframes pandaAnimation {
  100% { background-position: 0px 0px; }
}

@-moz-keyframes pandaAnimation {
  100% { background-position: 0px 0px; }
}
