.fsp-logo {
  text-align: left;
  float: left;
}
.heading {
  font: 400 48px/2 "Fira Sans", Arial, Helvetica;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
}
.main-info {
  font: 400 48px/2 "Fira Sans", Arial, Helvetica;
  color: #fff;
  text-decoration: none;
  margin-right: 80px;
  width: 60px;
  display: block;
}
.carrot-info {
  float: right;
  vertical-align: middle;
}
.carrot-info i {
  width: 106px;
  height: 136px;
  background: url(../images/carrot-info.png) no-repeat 0 0 scroll;
  display:block;
}
.is-hidden {
  display: none;
}
.main-layout .is-visible {
  display: none;
}
.main-layout .is-hidden {
  display: block;
  font-style: normal;
}
.carrot-layout .carrot-info i {
  background: url(../images/carrot-info-close.png) no-repeat 0 0 scroll;
}
.warning-text {
  width: 858px;
  height: 172px;
  margin: 0 auto;
  background: url(../images/warning.png) no-repeat center center scroll;
  text-align: center;
}
.warning-text i {
  color: #e89223;
  font: 400 62px "Fira Sans", Arial, Helvetica;
  font-style: italic;
  position: relative;
  right: -14px;
  top: 25px;
}
.start-area a {
  display: block;
  width: 124px;
  height: 196px;
  background: url(../images/touch-icon.png) no-repeat center center scroll;
  margin: 0 auto;
}
.choose-photos.is-active .active-text {
  display: block;
}
.choose-photos.is-active .non-active-text {
  display: none;
}
.choose-photos .active-text {
  display: none;
}

.choose-photos.is-active {
  background: #fff;
  color: #e89224;
}
.choose-photos {
  font-size: 48px;
  width: 525px;
  height: 135px;
  background: rgba(255,255,255,.9);
  color: rgba(246,174,26,0.6);
  position: relative;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 2.7;
}

.shoot-act-bg {
  width: 296px;
  height: 296px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
}

.shoot-act-bg:after {
  content: '';
  width: 300px;
  height: 300px;
  background: rgba(255,255,255,0.5);
  z-index: -1;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  left: -2px;
  top: -2px;
}
.shoot-act-bg.is-animated {
  z-index: 16;
}
.shoot-act-bg.is-animated:after {
  animation: none;
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  -ms-animation: none;
}
.is-animated .shoot-act {
  background-image: none;
}
.shoot-act {
  width: 296px;
  height: 296px;
  background: url(../images/panda-action.png) no-repeat center center scroll #fff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: relative;
  z-index: 16;
}
.number {
  position: absolute;
  color: #f6ae1a;
  top: 54px;
  left: 115px;
  opacity: 0;
}
.number:before {
  width: 296px;
  height: 296px;
  background: #fff;
  opacity: .9;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  left: -115px;
  top: -54px;
  line-height: 1.8;
}
.n-1:before {
  content: '1';
}
.n-2:before {
  content: '2';
}
.n-3:before {
  content: '3';
}

.shooted-number {
  font-size: 48px;
  line-height: 2;
  color: #fff;
}
.photo-preview {
  position: relative;
}
.photo-preview:after {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  content: '';
  width: 762px;
  height: 530px;
  display: block;
  left: 50%;
  margin-left: -381px;
  margin-top: -265px;
  top: 50%;
  background: url(../images/photo-done.png) no-repeat center center scroll;
}
.layout-attention {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  background: rgba(246,174,26,.8);
  color: #fff;
  text-align: center;
  padding-top: 80px;
  display: none;
}
.layout-attention.is-opened {
  display: block;
}
.layout-attention h1 {
  font-size: 120px;
}
.layout-attention h2 {
  font-size: 169px;
}

.print-animation {
  width: 881px;
  height: 748px;
  margin: 0 auto;
  background-image: url(../images/print-animation.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}