@import "fonts/Fira-master/fira.css";
@import "elements.css";
@import "animation.css";
body {
  font-family: 'Fira Sans', Arial, Helvetica;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  height: 100%;
  width: 1080px;
  border: 1px solid #000;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  overflow: scroll;
}
.nav {
  height: 170px;
  text-align: center;
  padding: 40px 75px 0px 115px;
  position: relative;
  z-index: 21;
}
.nav .main-info, .nav .heading {
  display: inline-block;
  float: left;
}
.middle.logo {
  text-align: center;
  position: relative;
}
.middle.logo p {
  font: 400 48px/1 'Fira Sans', Arial, Helvetica;
  color: #fff;
}

html {
  background: -moz-linear-gradient(top,  #f6ae1a 0%, #ffd039 100%);
  background: -webkit-linear-gradient(top,  #f6ae1a 0%,#ffd039 100%);
  background: linear-gradient(to top,  #f6ae1a 0%,#ffd039 100%);
  position: fixed;
  bottom:0;
  top:0;
  left: 0;
  right: 0;
}
.back-layout-panda {
  background: url(../images/panda.png) repeat 0 0;
  position: fixed;
  bottom:-100%;
  top:-100%;
  left: -100%;
  right: -100%;
  z-index: 0;
}
.actions {
  height: 1450px;
  background: url(../images/fsp-logo.png) no-repeat top left scroll;
  padding-top: 788px;
}
.footer {
  text-align: center;
  padding-top: 120px;
}
.footer ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}
.footer ul li:first-child img {
  position: relative;
  bottom: -24px;
}
.modal-block-content {
  display: none;
}
.modal-block-content {
  width: 1080px;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.main-layout .modal-block-content.main,
.carrot-layout .modal-block-content.carrot,
.cancel-layout .modal-block-content.cancel {
  display: block;
}
.layout-is-open .modal-bg, .layout-is-open .modal-block  {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all .8s linear;
  -webkit-transition: all .8s linear;
  -o-transition: all .8s linear;
  -moz-transition: all .8s linear;
}
.main-logo-modal {
  display: block;
  margin: 0 auto;
}
.modal-bg, .modal-block {
  opacity: 0;
  visibility: hidden;
  transition: all .8s linear;
  -webkit-transition: all .8s linear;
  -o-transition: all .8s linear;
  -moz-transition: all .8s linear;
  transform: translateY(-200%);
  position: fixed;
  z-index: 17;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cancel-layout .modal-bg {
  background-color: rgba(64,64,64,0.9);
}
.main-layout .modal-bg {
  background-color: #195fa6;
}
.carrot-layout .modal-bg {
  background-color: #ebaa21;
}
.modal-block {
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
  animation-delay: .8s;
}
.modal-block-content {
  overflow: scroll;
  padding-left: 62px;
  padding-right: 70px;
}
.modal-block-content table tr td:last-child {
  text-align: left;
  padding-left: 30px;
  vertical-align: middle;
}
.modal-block-content table .heading-64,
.modal-block-content table .text-48 {
  margin-top: 0;
  padding: 0;
}
.text-left {
  text-align: left;
}
.text-48 {
  font: 400 48px/50px 'Fira Sans', Arial, Helvetica;
}
.modal-block-content underline {
  text-decoration: underline;
}

.heading-64 {
  font: 500 64px 'Fira Sans', Arial, Helvetica;
  margin-top: 10px;
  margin-bottom: 0px;
}
.modal-block-content.cancel p:first-of-type {
  margin-top: 0;
}
.modal-block-content.cancel {
  text-align: center;
  padding-top: 200px;
}
.modal-block-content {
  color: #ffffff;
}
.modal-block-content.carrot h1 {
  text-align: center;
  font: 500 100px 'Fira Sans', Arial, Helvetica;
  margin-top: 260px;
}

.modal-block-content.carrot p{
  margin-top: 0px;
  margin-bottom: 15px;
}

.modal-block-content.main {
  padding-right: 60px;
  color: #ffffff;
  padding-top: 214px;
}
.modal-block-content .footer-qr {
  margin-top: 30px;
}
.modal-block-content.carrot p b {
  font: 500 48px 'Fira Sans', Arial, Helvetica;
}
.photo-preview {
  height: 1165px;
  background: rgba(255,255,255,0.6);
}
.photo-preview .mask {
  height: 100%;
  background: url(../images/photo-mask.png) no-repeat center center scroll;
}
.photo-action-controls {
  height: 100%;
  text-align: center;
}
.photo-action-controls ul {
  height: 560px;
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}
.photo-action-controls ul li:first-child a,
.photo-action-controls ul li:last-child a {
  opacity: 0.5;
}

.photo-action-controls ul li:first-child a.is-active,
.photo-action-controls ul li:last-child a.is-active  {
  opacity: 1;
}
.photo-action-controls ul li {
  display: table-cell;
  list-style: none;
  width: 33%;
  height: 560px;
  vertical-align: middle;
  text-align: center;
}
.photo-action-controls ul li a {
  height: 100%;
  width: 100%;
  font: 400 160px 'Fira Sans', Arial, Helvetica;
  text-decoration: none;
  color: #fff;
  text-align: center;
}
.gallery-images {
  text-align: center;
}
.shooted-images-preview {
  display: inline-block;
  width: 296px;
  height: 296px;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin: 15px;
  background-color: #fff;
}
.shooted-images-preview input[type=checkbox]:checked + label {
  background: rgba(0,0,0,0.6);
}
.shooted-images-preview label {
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
}
.shooted-images-preview input {
  visibility: hidden;
  opacity: 0;
}
.row-padding {
  padding-left: 60px;
  padding-right: 60px;
}

.info-3 {
  text-align: left;
  margin-top: 80px;
}

.link-step-3 .middle.logo p:first-of-type {
  margin-top: 0;
}
.footer-qr {
  text-align: left;
  color: #fff;
}
.footer-qr .qr {
  margin-right: 32px;
}
.footer-qr p {
  font: 400 32px 'Fira Sans';
  margin: 0;
}
.footer-qr h3 {
  font: 500 48px 'Fira Sans';
  margin: 0;
  text-decoration: underline;
}
